<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- <settings>
		
		 <setting name="lazyLoadingEnabled" value="true" />  
		 <setting name="aggressiveLazyLoading" value="false" /> 
	</settings>  -->
	<!--
	<typeAliases>
		<typeAlias type="org.lw.mavendemo.sys.beans.User" alias="User"/>
		<typeAlias type="org.lw.mavendemo.sys.beans.Role" alias="Role"/>
		<typeAlias type="org.lw.mavendemo.sys.beans.Resource" alias="Resource"/>
		<typeAlias type="org.lw.mavendemo.sys.beans.Permission" alias="Permission"/>
	</typeAliases>
	-->
    <mappers>
    	<!-- 无效文件，采用注解方式配置 -->
    	<!-- <mapper resource="org/lw/mavendemo/sys/mapper/UserMapper.xml"/> -->
    </mappers>
</configuration>